/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  font-size: 16px;
  background: #121212; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.5625em;
  text-align: center; }

h1 {
  color: #ffc000; }

h2, p {
  color: #fff; }

p {
  max-width: 954px;
  margin: 0 auto;
  padding: 53px 0 36px;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.875em;
  text-align: center;
  width: 93.75%; }
  @media only screen and (min-width: 768px) {
    p {
      font-sizet: 1.125em;
      text-align: left;
      width: 100%; } }

ul {
  max-width: 986px;
  list-style: none;
  margin: 0 auto;
  padding: 0; }

li {
  display: inline;
  padding-right: 5px; }

a:hover svg, a:focus svg, a:active svg {
  fill: #fff; }

svg {
  fill: #404040; }

.social-cta, .main-nav {
  background: #000;
  border-bottom: 1px solid #272727;
  overflow: auto; }
  .social-cta ul, .main-nav ul {
    float: right; }

.social-cta {
  padding: 10px 0 6px; }

.cta {
  float: right;
  color: #404040; }
  .cta svg {
    width: 25px;
    height: 25px;
    fill: #404040; }
  .cta span {
    display: none; }
  @media only screen and (min-width: 768px) {
    .cta svg {
      display: none; }
    .cta span {
      display: block; } }

.logo {
  position: absolute;
  left: 0;
  width: auto;
  background: #000;
  padding: 9px 0 0 10px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }
  .logo a {
    color: #fff; }
  @media only screen and (min-width: 768px) {
    .logo {
      left: 82px;
      width: 223px;
      padding: 46px 0 43px;
      font-size: 30px;
      border-left: 1px solid #272727;
      border-right: 1px solid #272727; } }

.main-nav {
  padding: 25px 0 32px; }
  .main-nav ul {
    float: none;
    width: 100%;
    text-align: right; }
  .main-nav li {
    margin-left: 4%; }
  .main-nav a {
    color: #ffc000;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif; }
  @media only screen and (min-width: 768px) {
    .main-nav ul {
      float: right; }
    .main-nav li {
      margin-left: 30px; } }

.hero-shot img {
  width: 100%; }

.cta {
  font-family: "Oswald", sans-serif; }

.content-home, .content-work {
  background: #000;
  padding: 3.25em 0 0; }

.content-experience, .content-contact {
  padding: 52px 0 109px; }
  .content-experience ul, .content-contact ul {
    text-align: center; }
  .content-experience li, .content-contact li {
    padding-left: 15px; }
  .content-experience img, .content-contact img {
    padding-bottom: 20px; }

.slider {
  margin: 0 auto;
  padding: 61px 0 71px 5%; }
  .slider div {
    margin-right: 10px; }
  .slider img {
    border: 10px solid #242424; }
  @media only screen and (min-width: 480px) {
    .slider {
      padding-left: 0; } }

.slick-track {
  margin: 0 auto; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-prev, .slick-next {
  background: #000;
  border-radius: 50%;
  z-index: 9999; }

.slick-prev:before {
  content: "\25c0"; }

.slick-next:before {
  content: "\25BA"; }

.resume {
  text-align: center;
  border: 1px solid #ffc000;
  border-radius: 50px;
  width: 100%;
  max-width: 500px;
  color: #ffc000;
  margin: 0 auto 60px;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  cursor: pointer; }

.content-resume {
  display: none;
  color: #fff;
  margin: 0 auto 60px; }

form {
  padding: 50px 0 0;
  overflow: auto; }
  form input, form textarea, form select {
    background: #000;
    color: #7d7d7d;
    text-transform: uppercase;
    border: 1px solid #242424;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding: 35px; }
  form textarea {
    height: 150px; }
  form input[type=text] {
    float: left;
    background-color: #000;
    color: #fff;
    border: 0;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding: 35px;
    border: 1px solid #242424; }
  form input[type=submit] {
    background-color: #000;
    color: #ffc000;
    width: 100%;
    padding: 35px; }

.footer-page {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 39px 0 44px;
  overflow: auto; }
  .footer-page ul {
    margin: 0; }

.copyright {
  display: block;
  float: left;
  width: 50%;
  color: #fff; }

.footer-cta {
  display: block;
  float: right;
  width: 50%; }

#map {
  margin: 0 auto;
  width: 100%;
  height: 450px; }

/*# sourceMappingURL=portfolio.css.map */
