/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
h2, h3, h4, h5, h6 {
  color: #fff;
  font-size: 26px;
  padding: 15px 0;
  font-family: 'Michroma', sans-serif; }

/* line 15, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
h2.tagline {
  background: #303538;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Michroma', sans-serif; }
  @media only screen and (min-width: 500px) {
    /* line 15, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
    h2.tagline {
      background: none;
      text-align: center;
      top: 40%;
      z-index: 9999;
      color: #fff;
      text-shadow: 1px 1px 15px #000;
      font-family: 'Michroma', sans-serif;
      font-weight: 900;
      font-size: 35px;
      width: 55%; } }

/* line 35, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
h1 {
  color: #fff;
  font-size: 30px;
  font-family: 'Michroma', sans-serif;
  padding: 15px 0 0; }

/* line 42, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
p {
  color: #fff;
  font-size: 26px;
  line-height: 38px;
  padding: 15px 0; }

/* line 49, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff; }
  /* line 54, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  ul li {
    font-size: 15px; }

/* line 58, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.panel {
  background: #0a0a0a;
  padding: 15px; }

/* line 62, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
a {
  color: #fff; }
  /* line 64, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  a:hover, a:active, a:focus {
    color: #666666; }

/* line 69, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.custom-panel {
  background: #000;
  padding: 10px;
  color: #fff; }

/* line 76, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
body {
  background: #d3d3d3; }

/* line 79, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
header {
  margin-bottom: 0; }

/* line 84, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.skyline {
  background: linear-gradient(rgba(0, 50, 55, 0.5), rgba(0, 2, 55, 0.5)), url(../images/minneapolis-1117362_1920.jpg) 100% 100% no-repeat;
  background-size: cover;
  padding: 20.5% 0 20%;
  height: 100%;
  overflow: hidden; }
  /* line 90, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  .skyline img {
    opacity: .2; }

/* line 94, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.slider {
  margin-top: 0;
  height: 100%;
  max-height: 300px;
  background: none; }

/* line 100, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.slick-next, .slick-prev {
  display: none !important; }

/* line 103, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.thumbnail a {
  display: block;
  background: #000;
  width: 300px;
  height: 300px; }

/* line 109, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.top-bar, .top-bar-left, .top-bar ul {
  background: #0c141d;
  position: relative;
  z-index: 9999; }

/* line 114, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.top-bar {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  border-top: 10px solid #242b33; }

/* line 125, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.menu-text {
  color: #fff;
  font-family: 'Michroma', sans-serif;
  font-size: 20px; }

/* line 131, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.btn-primary {
  background: #000;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 10px 0; }

/* line 139, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.intro {
  background-color: #fff;
  width: 100%;
  padding: 5% 0; }
  /* line 143, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  .intro h1, .intro p, .intro h2 {
    color: #303538; }

/* line 149, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.main-nav ul {
  list-style: none;
  margin: 0; }

/* line 153, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.main-nav li {
  display: inline;
  background: #fff;
  border: 1px solid #000;
  padding: 10px; }
  /* line 158, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  .main-nav li a {
    color: #000; }

/* line 164, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.poster {
  border: 5px solid #1f1f1f; }

/* line 169, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.pagination {
  clear: both; }
  /* line 171, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  .pagination button {
    display: block;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0; }

/* line 182, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
#start, #stop {
  border: 0;
  background: #000;
  color: #fff;
  padding: 15px;
  width: 10%;
  text-transform: uppercase; }

/* line 190, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
#stopwatch {
  color: #fff;
  font-family: 'Michroma', sans-serif;
  font-size: 90px; }

/* line 196, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.projects {
  background: #000;
  margin-bottom: 125px; }
  /* line 199, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  .projects .row {
    max-width: 70rem;
    margin: 0 auto; }

/* line 204, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
.accolades {
  background: #383b3d;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  display: block; }
  /* line 210, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  .accolades .column {
    width: 10%;
    margin-right: 10%; }

/* line 215, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
footer {
  background: #191b1c;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-family: 'Michroma', sans-serif; }
  /* line 221, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  footer a {
    padding-left: 20px; }
  /* line 224, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/sass/screen.scss */
  footer img {
    width: 5%; }

/*# sourceMappingURL=screen.css.map */