<div class="content">
    <div class="row">
        <div class="large-12 columns left">
            <h1>About Us</h1>
            <p>
            My career as a front end developer first began in March of 1999.  I started out as a contract developer within a company called Westgroup, which is now known as Thomson Reuters today.  After a short eight months, I was promoted to a full time role with Westgroup in the year 2000.  The company within Thomson Reuters I worked for is FindLaw.  After fourteen plus years with the company, it was time to venture out and change course within my career, so I chose to work for a digital agency, Three Deep.  As I began working with this company, my front end development skills have been challenged and stretched in ways I never knew possible.  This was a sign of the right direction in my career.   
            </p>    
            <p>The web is constantly changing, and the way we interact on the web changes every day as well.  The websites we work with constantly evolve and have become more of interactive applications than static and informational.  With that said, I have been exposed to a lot of different technologies and for the most part, loved them all.  In this industry, you have to adapt and change with it, or you will quickly be left behind.  </p>
        </div>
    </div>
    <div class="row">
        <ul>
            <h2>Core Focus</h2>
            <li>
                <div class="large-6 columns">
                    HTML / CSS
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="100" max="100"></progress>
                </div>
            </li>
            <li>
                <div class="large-6 columns">
                    HTML5 / CSS3
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="30" max="100"></progress>
            </li>

            <li>
                <div class="large-6 columns">
                    Responsive Web Development
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="65" max="100"></progress>
            </li>

            <li>
                <div class="large-6 columns">
                    Foundation 5
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="50" max="100"></progress>
            </li>

            <li>
                <div class="large-6 columns">
                    jQuery / Javascript
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="35" max="100"></progress>
            </li>

            <li>
                <div class="large-6 columns">
                    Angular JS
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="25" max="100"></progress>
                </div>
            </li>
            <li>
                <div class="large-6 columns">
                    Git / SVN
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="30" max="100"></progress>
                </div>
            </li>
            <li>
                <div class="large-6 columns">
                    Foundation 5
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="50" max="100"></progress>
                </div>
            </li>
            <li>
                <div class="large-6 columns">
                    Sass Preprocessor
                </div>
                <div class="large-6 columns">
                    <progress id="progressbar" value="90" max="100"></progress>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
            <ul>
            <h2>CMS Platforms</h2>
                <li>
                    <div class="large-6 columns">
                        Wordpress
                    </div>
                    <div class="large-6 columns">
                        <progress id="progressbar" value="40" max="100"></progress>
                    </div>
                </li>
                <li>
                    <div class="large-6 columns">
                        Umbraco
                    </div>
                    <div class="large-6 columns">
                        <progress id="progressbar" value="60" max="100"></progress>
                    </div>
                </li>
                <li>
                    <div class="large-6 columns">
                        Proprietary CMS
                    </div>
                    <div class="large-6 columns">
                        <progress id="progressbar" value="70" max="100"></progress>
                    </div>
                </li>
            </ul>
        </div>
</div>