<div class="content">
    <div class="row medium-up-3 large-up-4">
        <div class="column">
            <a href="#/top-rated"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=TOP RATED"/></a>
        </div>
        <div class="column">
            <a href="#/most-popular"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=MOST POPULAR"/></a>
        </div>
        <div class="column">
            <a href="#/most-recent"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=MOST RECENT"/></a>
        </div>
        <div class="column">
            <a href="#/"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=GENRE MOVIES"/></a>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
    </div>
</div>