<div class="content">
<!--slick infinite="true" autoplay="true" slides-to-show=1 slides-to-scroll=1 class="slider multiple-items"-->
      <div class="skyline">
          <h2 class="tagline">Artistic Expression Through Design and Development</h2>
      </div>
      <!--div>
          <a href="#/angular"><img src="http://placehold.it/2000x860/000000/ffffff/?text=Angular Projects"></a>
      </div>
      <div>
          <a href="#/web-dev"><img src="http://placehold.it/2000x860/000000/ffffff/?text=Web Development"></a>
      </div>
      <div>
          <a href="#/portfolio"><img src="http://placehold.it/2000x860/000000/ffffff/?text=Portfolio"></a>
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=">
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=">
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=">
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=">
      </div>
</slick-->

    <div class="intro">
        <div class="row">
            <div class="large-12 columns left">
                <h1>Brief Intro About Me</h1>
                <p>
                I have always been a man who loved to create and build.  I love creating things that come to life.  This would explain why I chose a career in web design and development.  I get to see an otherwise, flat design become tangible for a user.  Web development drives my curiosity because it is a never ending learning experience.  It does not slow down and new technologies come alive almost daily.
                </p>
                <h2><strong>Core Focus</strong></h2>
                
                <div class="medium-3 columns">
                    <p>HTML/CSS</p>
                    <progress id="progressbar" value="100" max="100"></progress>
                </div>
                <div class="medium-3 columns">
                    <p>HTML5/CSS3</p>
                    <progress id="progressbar" value="30" max="100"></progress>
                </div>
                <div class="medium-3 columns">
                    <p>jQuery/Javascript</p>
                    <progress id="progressbar" value="35" max="100"></progress>
                </div>
                <div class="medium-3 columns">
                    <p>Angular</p>
                    <progress id="progressbar" value="25" max="100"></progress>
                </div>
                <div class="medium-3 columns">
                    <p>Responsive</p>
                    <progress id="progressbar" value="65" max="100"></progress>
                </div>
                <div class="medium-3 columns">
                    <p>GitHub / SVN</p>
                    <progress id="progressbar" value="30" max="100"></progress>
                </div>
                <div class="medium-3 columns">
                    <p></p>
                </div>
                <div class="medium-3 columns">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="projects">
    <div class="row">
        <div class="large-12 columns left">
            <h2>My Projects</h2>
        </div>
    </div>
    <div class="row medium-up-3 large-up-4">
        <slick infinite="true" autoplay="true" slides-to-show=3 slides-to-scroll=1 class="slider multiple-items">
            <div>
                <a href="#/forecast"><img class="thumbnail" src="http://placehold.it/300/000000/ffffff/?text=FORECASTER"/></a>
            </div>
            <div>
                <a href="#/moviebuff"><img class="thumbnail" src="http://placehold.it/300/000000/ffffff/?text=MOVIEBUFF"/></a>
            </div>
            <div>
                <a href="/myFlix.html"><img class="thumbnail" src="http://placehold.it/300/000000/ffffff/?text=MYFLIX&#160;"/></a>
            </div>
            <div>
                <a href="#/codepen"><img class="thumbnail" src="http://placehold.it/300/000000/ffffff/?text=AGE FINDER"/></a>
            </div>
            <div>
                <a href="#/stop-watch"><img class="thumbnail" src="http://placehold.it/300/000000/ffffff/?text=STOPWATCH"/></a>
            </div>
            <div>
                <a href="#/clock"><img class="thumbnail" src="http://placehold.it/300/000000/ffffff/?text=MY CLOCK"/></a>
            </div>
            <div>
                <a href="#/draggable-balls"><img class="thumbnail" src="http://placehold.it/300/000000/ffffff/?text=DRAGGABLE"/></a>
            </div>
        </slick>
    </div>
    </div>
</div>