<div class="content">
<!--slick infinite="true" autoplay="true" slides-to-show=1 slides-to-scroll=1 class="slider multiple-items">
      <div>
          <img src="http://placehold.it/2000x750&text=1st">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=2nd">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=3nd">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=4nd">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=5th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=6th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=7th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=8th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=9th">
      </div>
</slick-->

    <div class="row medium-up-3 large-up-4">
        <div class="column">
            <a href="#/forecast"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=FORECASTER"/></a>
        </div>
        <div class="column">
            <a href="#/moviebuff"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=MOVIEBUFF"/></a>
        </div>
        <div class="column">
            <a href="/myFlix.html"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=MYFLIX"/></a>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
    </div>
</div>