<div class="content">
<!--slick infinite="true" autoplay="true" slides-to-show=1 slides-to-scroll=1 class="slider multiple-items">
      <div>
          <img src="http://placehold.it/2000x750&text=1st">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=2nd">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=3nd">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=4nd">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=5th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=6th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=7th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=8th">
      </div>
      <div>
          <img src="http://placehold.it/2000x750&text=9th">
      </div>
</slick-->

    <div class="row">
        <div class="large-12 columns left">
            <p>
            I have always been a man who loved to create and build.  I love creating things that come to life.  This would explain why I chose a career in web design and development.  I get to see an otherwise, flat design become tangible for a user.  Web development drives my curiosity because of the vast amount of development languages at my fingertips.    
            </p>    
        </div>
    </div>
        <hr />
    <div class="row medium-up-3 large-up-4">
        <h2>Angular Projects</h2>
        <div class="column">
            <a href="#/forecast"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=FORECASTER"/></a>
        </div>
        <div class="column">
            <a href="#/moviebuff"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=MOVIEBUFF"/></a>
        </div>
        <div class="column">
            <a href="/myFlix.html"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=MYFLIX&#160;"/></a>
        </div>
    </div>
        <hr />
    <div class="row medium-up-3 large-up-4">
        <h2>Javascript / JQuery Projects</h2>
        <div class="column">
            <a href="#/codepen"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=AGE FINDER"/></a>
        </div>
        <div class="column">
            <a href="#/stop-watch"><img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=STOPWATCH"/></a>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
    </div>
        <hr />
    <div class="row medium-up-3 large-up-4">
        <h2>HTML5 / CSS3 Projects</h2>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff"/>
        </div>
    </div>
</div>