<div class="row">
    <div class="large-12 columns">
    <div ng-controller="MovieController">
        <h2>Popular Movies</h2>

            <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="3">
                <div class="medium-2 columns end" ng-repeat="movie in movieList" style="margin:0 0 15px;max-height:400px;">
                        <a id="{{movie.id}}" href="#/movie/{{movie.id}}"><img ng-src="http://image.tmdb.org/t/p/w370/{{movie.poster_path}}" /></a>
                </div>
            </div>
            <!--movie-info-box ng-repeat="movie in movieList" info="movie"></movie-info-box-->
        </div>
    </div>
</div>
