<div class="content">
    <div class="row">
        <h1>Portfolio</h1>
        
        <h2>Three Deep Work Experience</h2>
        <p>I have worked with clients such as, Nestle and Red Wing Shoes as an employee of Three Deep.  I have also worked with various contractor dealers, such as LeafGuard and Byers.</p>
            <ul>
                <li>Nestle</li>
                <li>Red Wing Shoes</li>
                <li>LeafGuard</li>
                <li>Lindus Construction</li>
                <li>Various lawyers and attorneys</li>
                <li>R3Collaborative</li>
                <li>Care4Wear</li>
                <li>Fighters4Christ</li>
            </ul>
        <!--h1>Past Works</h1>
        <div class="large-12 columns">
            <img class="thumbnail" src="http://placehold.it/550/000000/ffffff/?text=FIGHTERS4CHRIST"/>
        </div-->
    </div>
</div>