<div class="content">
<div class="row">
    <h1>Web Development Tools</h1>

    <p>There are so many tools online to help front end developers perform their jobs more efficiently.  However, because there are so many tools to choose from, it can be difficult and frustrating to find tools to help with our curren workflow.  Since I would like to know what tools are at our disposal, I can safely assume you do as well.  With that being said, I am compiling a list of useful tools for front end and full stack developers.</p>
    
    <h2>Version Control</h2>
    <ul>
        <li><a href="http://www.github.com" target="_blank">Git Hub</a></li>
        <li><a href="http://www.gitlab.com" target="_blank">Git Lab</a></li>
        <li><a href="http://pages.github.com" target="_blank">Git Pages</a></li>
        <li><a href="http://optimizilla.com/" target="_blank">Optimizilla</a></li>
    </ul>

    <h2>Image Optimization</h2>
    <ul>
        <li><a href="http://optimizilla.com/" target="_blank">Optimizilla</a></li>
    </ul>
    
    <h2>Responsive Frameworks</h2>
    <ul>
        <li><a href="http://susy.oddbird.net/" target="_blank">Susy</a></li>
        <li><a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation</a></li>
        <li><a href="http://getbootstrap.com/customize/" target="_blank">Get Bootstrap</a></li>
        <li><a href="http://960.gs/" target="_blank" target="_blank">960 Grid System</a></li>
        <li><a href="https://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a></li>
        <li><a href="http://www.99lime.com/elements/" target="_blank">HTML Kickstart</a></li>
        <li><a href="http://montagestudio.com/montagejs/" target="_blank">Montage HTML5 Framework</a></li>
        <li><a href="http://createjs.com/#!/CreateJS" target="_blank">CreateJS</a></li>
        <li><a href="http://sproutcore.com/" target="_blank">SproutCore</a></li>
    </ul>
    
    <h2>Carousels</h2>
    <ul>
        <li><a href="http://kenwheeler.github.io/slick/" target="_blank">Slick Carousel</a></li>
    </ul>
    
    <h2>Interactive Scripts</h2>
    <ul>
        <li><a href="http://pixelspring.github.io/SlideUpTopBar-for-Foundation/" target="_blank">SlideUpTopBar for Foundation</a></li>
        <li><a href="https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c#.vqa5fkqmn" target="_blank">Hide header on scroll down, show on scroll up</a></li>
    </ul>
    
    <h2>Color Tools</h2>
    <ul>
        <li><a href="http://www.colorhexa.com/index.php" target="_blank">ColorHexa</a></li>
    </ul>
</div>
    </div>