<slick infinite="true" autoplay="true" slides-to-show=1 slides-to-scroll=1 class="slider multiple-items">
      <!--div>
          <a href="#/codepen"><img src="http://placehold.it/2000x750/000000/ffffff/?text=AGE FINDER"></a>
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=FORECASTER">
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=MOVIE BUFF">
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=MY FLIX">
      </div>
      <div>
          <img src="http://placehold.it/2000x750/000000/ffffff/?text=STOP WATCH">
      </div-->
</slick>
