/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
h2, h3, h4, h5, h6 {
  color: #fff;
  font-size: 26px;
  padding: 15px 0;
  font-family: 'Michroma', sans-serif;
}

/* line 15, ../sass/screen.scss */
h2.tagline {
  color: #fff;
  text-shadow: 1px 1px 15px #000;
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Michroma', sans-serif;
}
@media only screen and (min-width: 500px) {
  /* line 15, ../sass/screen.scss */
  h2.tagline {
    background: none;
    text-align: center;
    top: 40%;
    z-index: 9999;
    color: #fff;
    text-shadow: 1px 1px 15px #000;
    font-family: 'Michroma', sans-serif;
    font-weight: 900;
    font-size: 35px;
    width: 55%;
  }
}

/* line 35, ../sass/screen.scss */
h1 {
  color: #fff;
  font-size: 30px;
  font-family: 'Michroma', sans-serif;
  padding: 15px 0 0;
}

/* line 42, ../sass/screen.scss */
p {
  color: #fff;
  font-size: 20px;
  line-height: 38px;
  padding: 15px 0;
}

/* line 49, ../sass/screen.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}
/* line 54, ../sass/screen.scss */
ul li {
  font-size: 15px;
}

/* line 58, ../sass/screen.scss */
.panel {
  background: #fff;
  color: #000;
  padding: 15px;
}
/* line 62, ../sass/screen.scss */
.panel h3 {
  color: #000;
}

/* line 66, ../sass/screen.scss */
a {
  color: #fff;
}
/* line 68, ../sass/screen.scss */
a:hover, a:active, a:focus {
  color: #666666;
}

/* line 73, ../sass/screen.scss */
.custom-panel {
  background: #000;
  padding: 10px;
  color: #fff;
}
/* line 77, ../sass/screen.scss */
.custom-panel a {
  color: #fff !important;
}

/* line 83, ../sass/screen.scss */
body {
  background: #d3d3d3;
}

/* line 86, ../sass/screen.scss */
header {
  margin-bottom: 0;
  background: #0c141d;
  position: relative;
  z-index: 9999;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  border-top: 10px solid #242b33;
  z-index: 9999;
}

/* line 99, ../sass/screen.scss */
.skyline {
  background: url(../images/minneapolis-1117362_1920.jpg) 100% 100% no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  padding: 20.5% 0 20%;
  overflow: hidden;
}

/* line 110, ../sass/screen.scss */
.slider {
  margin-top: 0;
  height: 100%;
  max-height: 300px;
  background: none;
}

/* line 116, ../sass/screen.scss */
.slick-next, .slick-prev {
  display: none !important;
}

/* line 119, ../sass/screen.scss */
.thumbnail a {
  display: block;
  background: #000;
  width: 300px;
  height: 300px;
}

/* line 127, ../sass/screen.scss */
.top-bar {
  padding: 0 1%;
  background: none;
}

@media only screen and (min-width: 670px) {
  /* line 132, ../sass/screen.scss */
  .header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 3%;
  }
}

/* line 140, ../sass/screen.scss */
.logo {
  display: block;
  padding-left: 3%;
}
@media only screen and (min-width: 670px) {
  /* line 140, ../sass/screen.scss */
  .logo {
    display: inherit;
    float: none;
    padding-left: 0;
  }
}

/* line 150, ../sass/screen.scss */
a.menu {
  background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  cursor: pointer;
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
  height: 35px;
  width: 35px;
  margin-top: 0;
  margin-right: 5%;
  padding: 15px 0 0;
  color: #fff;
}
@media only screen and (min-width: 600px) {
  /* line 150, ../sass/screen.scss */
  a.menu {
    display: none;
  }
}

@media only screen and (min-width: 670px) {
  /* line 168, ../sass/screen.scss */
  .primary-nav {
    padding: 5px 3% 0 0;
  }
}

/* line 174, ../sass/screen.scss */
.primary-nav ul {
  padding-top: 15px;
}
@media only screen and (min-width: 670px) {
  /* line 174, ../sass/screen.scss */
  .primary-nav ul {
    display: flex;
    padding-top: 0;
  }
}

/* line 182, ../sass/screen.scss */
.primary-nav li {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #000;
}
@media only screen and (min-width: 670px) {
  /* line 182, ../sass/screen.scss */
  .primary-nav li {
    padding-right: 50px;
    text-align: left;
    padding: 0 10px;
    border-top: 0;
    border-bottom: 0;
  }
}

/* line 195, ../sass/screen.scss */
.primary-nav li:last-child {
  padding-right: 0;
  border-bottom: 0;
}

/* line 199, ../sass/screen.scss */
.name {
  color: #fff;
  font-family: 'Michroma', sans-serif;
  font-size: 20px;
  padding-top: 0;
}

/* line 205, ../sass/screen.scss */
.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  font-size: 15px;
}

/* line 209, ../sass/screen.scss */
.btn-primary {
  background: #000;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 10px 0;
}

/* line 217, ../sass/screen.scss */
.intro {
  background-color: #fff;
  width: 100%;
  padding: 5% 0;
}
/* line 221, ../sass/screen.scss */
.intro h1, .intro p, .intro h2 {
  color: #303538;
}

/* line 226, ../sass/screen.scss */
.content {
  padding: 5% 0 10%;
  background: #fff;
  color: #000;
}
/* line 230, ../sass/screen.scss */
.content h1, .content h2, .content p, .content ul, .content li, .content a {
  color: #000;
}

/* line 236, ../sass/screen.scss */
.main-nav ul {
  list-style: none;
  margin: 0;
}
/* line 240, ../sass/screen.scss */
.main-nav li {
  display: inline;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
}
/* line 245, ../sass/screen.scss */
.main-nav li a {
  color: #000;
}

/* line 251, ../sass/screen.scss */
.poster {
  border: 5px solid #1f1f1f;
}

/* line 256, ../sass/screen.scss */
.pagination {
  clear: both;
}
/* line 258, ../sass/screen.scss */
.pagination button {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* line 269, ../sass/screen.scss */
#start, #stop {
  border: 0;
  background: #000;
  color: #fff;
  padding: 15px;
  width: 10%;
  text-transform: uppercase;
}

/* line 277, ../sass/screen.scss */
#stopwatch {
  color: #fff;
  font-family: 'Michroma', sans-serif;
  font-size: 90px;
}

/* line 285, ../sass/screen.scss */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
}

/* line 294, ../sass/screen.scss */
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* line 300, ../sass/screen.scss */
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #0c141d, #ff4141);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
}
@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}
@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}
/* line 323, ../sass/screen.scss */
progress[value]::-webkit-progress-value::before {
  content: '';
  position: absolute;
  right: 0;
  top: -125%;
}

/* line 330, ../sass/screen.scss */
.projects {
  background: #000;
  margin-bottom: 125px;
}
/* line 333, ../sass/screen.scss */
.projects .row {
  max-width: 70rem;
  margin: 0 auto;
}

/* line 338, ../sass/screen.scss */
.accolades {
  background: #383b3d;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  display: block;
}
/* line 344, ../sass/screen.scss */
.accolades .column {
  width: 10%;
  margin-right: 10%;
}

/* line 349, ../sass/screen.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #191b1c;
  color: #fff;
  text-align: center;
  padding: 0;
  font-family: 'Michroma', sans-serif;
}
/* line 358, ../sass/screen.scss */
footer a {
  padding-left: 20px;
}
/* line 361, ../sass/screen.scss */
footer img {
  width: 5%;
}
