/* line 24, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
html {
  font-size: 16px; }

/* line 30, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
a {
  color: #a3c686; }

/* line 47, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; }

/* line 59, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
header {
  background-color: #557260;
  padding: 14px 0 16px;
  border-bottom: 2px solid #ffffff; }
  /* line 63, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  header h2 {
    font-size: 0.9375em;
    line-height: 0.9375em;
    color: #a3c686;
    font-family: "Raleway", sans-serif; }
  /* line 69, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  header h3 {
    font-size: 3.1875em;
    line-height: 0.625em;
    color: #EAEEEA;
    font-family: "PT Sans", sans-serif; }

/* line 77, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
nav {
  position: relative;
  padding: 20px 0 0; }
  /* line 80, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  nav svg {
    width: 23px;
    height: 23px;
    fill: #a3c686; }
  /* line 85, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  nav a:hover, nav a:focus, nav a:active {
    color: #EAEEEA; }
    /* line 87, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
    nav a:hover svg, nav a:focus svg, nav a:active svg {
      fill: #EAEEEA; }

/* line 93, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
#search {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 7px; }
  /* line 101, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  #search input {
    border: 0;
    height: 100%; }

/* line 107, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
.hero {
  position: relative; }
  /* line 109, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  .hero h1 {
    position: absolute;
    bottom: 55px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    font-size: 4.375em;
    line-height: 70px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 0 15px #000000; }
    /* line 122, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
    .hero h1 span {
      display: block;
      font-size: 0.625em; }

/* line 129, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
main {
  background: #ffffff; }
  /* line 131, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  main article {
    text-align: center;
    padding: 78px 10px 66px; }
    /* line 134, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
    main article h2 {
      color: #34626B;
      font-family: "PT Sans", sans-serif;
      font-size: 1em;
      line-height: 1em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
    /* line 143, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
    main article p {
      color: #34626B;
      font-family: "PT Sans", sans-serif;
      font-size: 1em;
      line-height: 1.5625em; }
    /* line 149, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
    main article a {
      display: block;
      margin-top: 10px;
      color: #34626B;
      font-family: "PT Sans", sans-serif;
      font-size: 1em; }

/* line 159, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
aside {
  clear: both;
  background-color: #EAEEEA; }
  /* line 162, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
  aside ul {
    display: block; }

/* line 167, C:/Users/Phil/Dropbox (Personal)/Development/philknowles.github.io/Trails/sass/trails.scss */
footer {
  background: #8A9875; }

/*# sourceMappingURL=trails.css.map */